i {
    font-style: italic;
}
.message-input{
    padding:16px;
    //margin-top:auto;
    background-color:#fff;
    .editor-wrap {
        border: 1px solid #aaa;
        border-radius: 4px;
        .texteditor{
            min-height: 47px;
            max-height: 200px;
            overflow-y: scroll;
            outline: none;
            font-size: 16px;
            padding:16px;
            &[contenteditable=true]:empty:before {
                content: attr(data-placeholder);
                color: #555;
            }
            // &[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
            //     content: attr(data-placeholder);
            //     color: #555;
            // }
        }
        .toolbar{
            padding: 4px 12px;
            background-color: #f9f9f9;
            border-radius: 0px 0px 4px 4px;
            position: relative;
            border-top: 1px solid #eee;
            display: flex;
            flex-direction: row;
            align-items: center;
            button {
                cursor: pointer;
                margin-right: 6px;
                padding: 16px;
                position: relative;
                &:hover {
                    background-color: #ededed;
                }
                ion-icon {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 25%;
                    left: 50%;
                    transform: translate(-9px, 0px);
                }
            }
            .beauty {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: auto;
            }
            #toast{
                position: absolute;
                background-color:#242424;
                bottom:56px;
                color: #fff;
                padding: 12px;
                border-radius: 4px;
                display: none;
                &::before{
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 12px solid #000;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    position: absolute;
                    transform: translate(-50%, 0px);
                    left: 50%;
                    bottom:-6px;
                }
                &.bold{
                    display: block;
                    transform: translate(-10px, 0px);
                }
                &.italic {
                    display: block;
                    transform: translate(28px, 0px);
                }
                &.link {
                    display: block;
                    transform: translate(102px, 0px);
                }
                &.list {
                    display: block;
                    transform: translate(144px, 0px);
                }
                &.code {
                    display: block;
                    transform: translate(65px, 0px);
                }
                &.outline {
                    display: block;
                    transform: translate(170px, 0px);
                }
                &.hideTool {
                    display: block;
                    right: 0px;
                    transform: translate(-160px, 0px);
                }
                &.mention {
                    display: block;
                    right: 0px;
                    transform: translate(-120px, 0px);
                }
                &.emoji {
                    display: block;
                    right: 0px;
                    transform: translate(-88px, 0px);
                }
                &.file {
                    display: block;
                    right: 0px;
                    transform: translate(-53px, 0px);
                }
                &.send {
                    display: block;
                    right: 0px;
                    transform: translate(-10px, 0px);
                }
                // &.hideTool{
                //     display: block;
                //     transform: translate(170px, 0px);
                // }
            }
        }
    }
}