#wrap {display:grid;grid-template-rows: 38px auto min-content;grid-template-columns: auto;grid-template-areas:"grid-header""grid-workspace";height: 100vh;position:relative;
    .header {grid-area:grid-header;}
    .workspace {grid-area:grid-workspace;}
}

.workspace {display:grid;grid-template-rows: auto;position:relative;grid-template-columns: 251px auto auto;grid-template-areas: 'grid-sidebar grid-contents';
    .sidebar {display:grid;grid-area:grid-sidebar;grid-template-rows: auto;grid-template-columns: auto;grid-template-areas: 'grid-sidebar-inner';
        .inner {grid-area:grid-sidebar-inner;display:flex;flex-direction:column;min-height:0;min-width:0;}
        .list {min-height:0;width:100%;position:relative;padding:0;display:flex;flex-direction:column;height:0;flex:1 0 auto;overflow:auto;padding-top:12px;}
    }
    .contents {display:grid;grid-area:grid-contents;grid-template-columns: auto;grid-template-areas: "grid-contents-inner";grid-template-rows: auto 111px;
        .inner{grid-area:grid-contents-inner;}
    }
}


/*
message-view
message-input*/
