.message-view {
    .view-header {display: flex;z-index:1;width: 100%;padding:5px 16px;border-bottom:1px solid #e0e0e0;background-color:#fff;
        .sand-message-name {
            h2 {
                .state {text-align: center;text-indent: -999em; display: inline-block; width: 8px; height: 8px; border: 1px solid #a0a0a0; border-radius: 50%; vertical-align: middle; }
            }
        }
        .btn-pin {margin-top:3px;}
        .btn-call {margin-left:auto;}
        .btn-info {margin-left:16px;}
    }
    .views {
        .view-container { display: flex; flex-direction: column; justify-content: flex-end;position:relative;overflow-y:auto;height: 100%;padding:0 0 20px;
            .message-profile {display: flex;position:relative;margin-bottom:5px;
                .img {display:block;position:absolute;left:-36px;width:30px;height:30px;background-color:#f9cfd7;border-radius: 5px;}
                time {margin-left: 6px;font-size:11px;font-size: 11px; color: #828282;}
            }
            .message {position:relative;padding:5px 35px 5px 65px; line-height:1.5;
                &:hover {background-color:#f9f9f9;
                    .actions {display:block;}
                }
                &[data-save] {background-color:#fffbeb;
                    &:before {padding-left:13px;content:'Added to your saved items';font-size: 12px; color: #545454;background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3EBookmark%3C/title%3E%3Cpath d='M352 48H160a48 48 0 00-48 48v368l144-128 144 128V96a48 48 0 00-48-48z' fill='%23ff3054' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") -3px center no-repeat;}
                    button {
                        .ionicon-fill-none {fill: #ff3054;}
                    }
                }
                .figure-image {max-width:450px;}
            }
            .actions {display:block;position:absolute;right:20px;top:-10px;border-radius:5px;border:1px solid #e0e0e0;background-color:#fff;
                ul {display: flex;
                    li {
                        button {
                            padding:5px 7px;
                        }
                        &+li{border-left:1px solid #e0e0e0;}
                    }
                }
            }
            .date-liner {position:relative;width: 100%; background-color: #e0e0e0; margin: 19px 0;
                &:before {display:block;content:'';background:#e0e0e0;height:1px;width:100%;}
                .date {position: absolute; top:-12px;left: 50%;z-index:1;padding: 5px 10px;border-radius:16px;box-shadow: 0 0 0 1px gba(0,0,0,.12),0 1px 3px 0 rgba(0,0,0,.08);background-color:#fff;font-weight: bold;font-size:12px;transform: translate( -50%,0px);}
            }

            .message-actions-menu {overflow:hidden;position:absolute;right:30px;bottom:450px;width:300px;z-index:1;background-color:#f7f7f7;border-radius: 8px; box-shadow: 0 0 0 1px rgba(0,0,0,.12),0 4px 12px 0 rgba(0,0,0,.12);
                ul {padding:6px 0;
                    li {padding:6px 0;
                        &+li {border-top:1px solid rgb(0 0 0 / 12%);}
                        button  {display:flex; padding: 6px 16px ;width:100%;text-align:left;justify-content: space-between;
                            &.button-delete {color:#e21154;
                                &:hover {background-color:#e21154;}
                            }
                            &:hover {background-color:#005384;color:#fff;
                                .shortcut {color:#fff;}
                            }
                            .shortcut {color:#b1b1b1;}
                        }
                    }
                }

            }

        }
    }
}


.popup {position:fixed;left:0;top:0;right:0;bottom:0;opacity:0;z-index:-10;padding: 30px;background: rgba(0,0,0,.6); display: flex; align-items: center; justify-content: center;
    &.active { z-index:9999; opacity:1;}
    .popup-inner {max-width: 500px; border-radius: 10px; background-color: #fff;
        .popup-header {padding:24px;position:relative;
            strong {font-size:22px;}
            [data-close] {width:30px;height:30px;color:#545454;padding:5px;border-radius:5px;position:absolute;right:24px;top:24pxc;
                &:hover {background-color:#efefef;}
            }
        }
        .popup-body {padding: 0 24px;
        }
        .buttons { display: flex; justify-content: flex-end;padding:24px;
            .button {margin-left:10px;padding:8px 18px;border-radius: 5px;
                &.liner {border:1px solid #b1b1b1;}
                &.default {
                    &.red {background-color:#e21154;color:#fff;}
                }
                
            }
        }
    }
}